html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
  background-color: white;        
}
body, html {
  height: 100%;
  margin: 0;
}
p {
  text-align: justify;
}

p, h1, h2, h3, h5 {
  font-family: quiche-sans, sans-serif;
}

#smart a{
  color:#db940d;
  font-size:0.8em;
}
#smart a:hover, #smart a:active {
  font-size: 0.81em;  
}

#logo{
  width: 15em; 
  padding-top: 5em;
  margin:auto;
  
}
@media only screen and (max-width: 760px) {
  #logo {
    width:10em;
    padding-top: 0em;
  }
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++ Banner ++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#banner {
  padding-left: 0em;
  padding-right: 0em;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {display: none}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 10s;
  animation-name: fade;
  animation-duration: 10s;
}

@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next {font-size: 11px}
}


.imagenes_banner {
  height: 25em;
  width: 100%;
}
@media only screen and (max-width: 450px) {
  .imagenes_banner {
    height:15em;
  }
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++ Botón Menú ++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.btnMenu {
  font-family: quiche-sans, sans-serif;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 12.5em;
  background-color: #10101085;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top:0.2em;
  color: #ffffff;
  left: 0.1em;
}

.btnMenuF {
  font-family: quiche-sans, sans-serif;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 3em !important;
  background-color: #10101085;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top:0.2em;
  color: #ffffff;
  left: 0.1em;
}

#btnSubmenu {
  color: #efb810c7; 
  font-size:20px;
}

#btnSubmenu:hover {
  background-color:#585656bf;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 61%);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  font-family: quiche-sans, sans-serif;
  padding: 4px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #9c9999;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 50px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 0px;
  right: 35px;
  }

  .overlay-content {
  top:10%;
  }
}

.sticky {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  background-color: #10101085;
  padding-left: 0.4em;
  padding-right: 0.4em;
  top: 0em;
  padding-top:0.2em;
  color: #ffffff;
  left: 0.1em;

}

@media only screen and (max-width: 450px) {
  .btnMenu {
    font-size: 20px;
    top: 12.5em;
  }

  .sticky {
    font-size: 20px;
  }

  #btnSubmenu { 
  font-size:17px;
  }
}

#submenu {
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 61%);
  overflow-x: hidden;
  transition: 0.5s;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

 .dropdown-backdrop {
    display:none;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++ Pie de Pagina +++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#piePagina {
  background-color: #523601;
  color: #d8cdcd;
  padding-left: 2em;
  padding-right: 2em;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++ Botón Wsp ++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.fa-whatsapp {
  background-color: #0ad561;
  font-size: 3em !important;
  color: white;
  padding: 0.15em;
  padding-right: 0.19em;
  padding-left:0.2em;
  border-radius:5em;
  position:fixed;
  top:89%;
  right:2%;
}

.fa-whatsapp:hover, .fa-whatsapp:active {
  font-size: 2.8em !important;
  top:89%;
  right:2%;
  
}
@media screen and (max-height: 450px) {
  .fa-whatsapp {
    top:80%;    
  }
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++Botones de pie de pagina+++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



.fa-facebook {
  
  font-size: 3em !important;
  padding: 0.3em;
  text-align: center;
  text-decoration: none;
  border-radius:50%;
  padding-right: 0.5em;
  padding-left: 0.5em;
  background: #3B5998;
  color: white;
}

.fa-facebook:hover, .fa-facebook:active {
  font-size: 3.8em !important;
  color:white;
  
}

.fap-instagram {
  padding: 0.3em;
  font-size: 3em !important;
  text-align: center;
  text-decoration: none;
  border-radius: 5em;
  padding-right: 0.4em;
  padding-left: 0.4em;
  background: rgb(120,8,199);
  background: linear-gradient(90deg, rgba(120,8,199,1) 0%, rgba(121,9,36,1) 51%, rgba(255,154,0,1) 100%);
  color: white;
}

.fap-instagram:hover, .fap-instagram:active {
  font-size: 3.8em !important;
  color:white;
  
}

.fa-youtube {
  padding: 0.3em;
  padding-right: 0.4em;
  padding-left: 0.4em;
  font-size: 3em !important;
  text-align: center;
  text-decoration: none;
  border-radius: 5em;
  background: rgb(199,11,8);
  background: linear-gradient(90deg, rgba(199,11,8,1) 0%, rgba(121,9,17,1) 51%, rgba(93,5,2,1) 100%);
  color: white;
}

.fa-youtube:hover, .fa-youtube:active {
  font-size: 3.8em !important;
  color:white;
  
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++ Nuestros Vinos ++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#btnFormProduc {
  font-size: 1.2em;
  background: linear-gradient(90deg, rgba(241,227,226,1) 0%, rgba(101,102,103,1) 73%, rgb(135 135 137) 83%, rgba(221,219,219,1) 100%);
  color: black;
}
#btn-filtraP {
  padding:1em !important;
}

#btnFiltroPrecio {
  background-color: #b8b0b0;
  color: black;
  margin: 0.2em;
  width:6em;
}

#formFiltroProducto .col-md-2 {
  padding:0.1em;
}

#tit-filtro{
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #000000;
}

#formFiltroProducto #filtro {
  margin:0.3em;
  border-radius: 1em;
  padding: 1em;
  border-color: #958f8f;
  border-width: 1px;
  border-style: solid;
  background: linear-gradient(90deg, rgba(241,227,226,1) 0%, rgb(134 137 140) 73%, rgb(144 144 152) 83%, rgba(221,219,219,1) 100%);
}

#formFiltroProducto #filtro select {
  width: 100%;
}

@media only screen and (max-width: 992px) { 
  #formFiltroProducto .col-md-2 { 
    width:20%;
    float:left;
  }  
}

@media only screen and (max-width: 886px) { 
  #btn-filtraP {
    width: 100% !important;
  }
 
  #formFiltroProducto .col-md-2 {
    width:50%;
    float:left;
  }  
}

@media only screen and (max-width: 467px) { 
  #formFiltroProducto .col-md-2 { 
    width:100%;
    float:left;
    font-size: 1em;
  }
}

#copas {
  padding: 0.3em;
  background-color:#371b0fe0;
}

#copas:hover {
  background-color:#371b0fc7;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #eeeeee;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border:0;
  margin:0.2em;
}

#titulo-nuestros-vinos {
  text-align:center;
  font-size: 3em;
  margin-bottom:0em;
}

#sep-nuestros-vinos {
  margin:auto;
}

#texto-nuestros-vinos {
  font-size:1.3em;
}

.paginacion_productos .col-md-2 {
  width: 20%;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #ccc;
  height: 30em;
}

.paginacion_productos .col-md-2 img {
  height: 15em;
  margin-top: 6em;
}

.paginacion_productos .col-md-2 #nombreProductos {
  position: absolute;
  width: 80%;
}

.paginacion_productos-celular .col-md-6 {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #ccc;
  padding: 1em;
}

.paginacion_productos-celular .col-md-6 img {
  height:15em;
}

@media only screen and (max-width: 768px) {
  .show-mobileP {
    display: block;
  }
  .hide-mobileP {
    display: none;
  }

  .prevP:hover, .nextP:hover {
    background-color: rgb(255 255 255 / 0%) !important;
  }

}

@media only screen and (min-width: 768px) {
  .show-mobileP {
    display: none;
  }
  .hide-mobileP {
    display: block;
  }
}
 
.nextP, .prevP {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 12px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  font-size: 2.7em !important;
}
.nextP {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prevP:hover, .nextP:hover {
  background-color: rgba(0,0,0,0.8);
}

@media screen and (max-width: 450px) {
  #titulo-nuestros-vinos {
    width:80%;
    margin:auto;
    margin-top:0.8em;
    font-size:2.5em;

  }
  #sep-nuestros-vinos {
    width:90%;

  }
  #texto-nuestros-vinos {
    padding-left:1em;
    padding-right:1em;
    font-size:1em;
  }
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++ Iniciar Sesion ++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.bg {
  /* The image used */
  background-image: url("../img/login.jpg");
  
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Add styles to the form container */
#container-login {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: #717ca5d6;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #ced5e8;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #acbeea;
  outline: none;
}
/* Set a style for the submit button */
#enviar {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

#enviar:hover {
  opacity: 1;
}

#err_login {
  background-color: #ebf1ff;
  width: 20em;
  padding: 2em;
  padding-top: 0.1em;
  border-radius: 0.5em;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++ Navegador Admin +++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#navbar-admin {
  color:white !important;
}
#navbar-admin:hover {
  color:#717175 !important;
}

#desplegable-admin span {
  background-color:white !important;
}
#desplegable-admin:hover{
  background-color:#337ab7 !important;
}
#desplegable-admin:focus{
  background-color:#000000;
}

#jumbotrom-admin {
    background-color: white;
    padding: 0.5em;
    padding-bottom: 1em;
    border-radius: 1em;
}
#separador-admin {
  margin-top: 0.1em;
  border-top: 0.1em solid #292828;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++ Admin ++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#img-banner {
  height: 15em;
  width: 70%;
  border-radius: 5px;
}

#textarea_admin {
  background-color: white;
  resize: vertical;
  min-height: 8em;
  max-height: 15em;
  width: 100%;
}

#col-img-banner {
  background-color: #7f7f7f;
  margin:1em;
  padding:1em;
  border-radius:1em;
}
#col-img-banner a {
  font-size: 1.2em;
  color:#105590;
}
#col-img-banner p {
  font-size: 1.4em;
  color:black;
}

.img-admin-produc {
  height: 15em;
  width: 70%;
  border-radius: 5px;
}

#admin-modificar-banner {
  background-color:#7f7f7f; 
  color:black; padding:1em; 
  width:50%; 
  margin:auto;
}

@media screen and (max-width: 450px) {

  #admin-modificar-banner {
    width: 100%;
  }
  
  .img-admin-produc {
    height: 20em !important;
    width: 70% !important;
  }
  
}

@media screen and (max-width: 991px) {

  .img-admin-produc {
    height: 20em;
    width: 30%;
  }
  
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++ Variedad +++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.text_descripcion {
  font-family: quiche-sans, sans-serif;
  font-weight: normal;
  font-style: italic;
  font-variant: normal;
  color:black;
  padding-right:0.4em;
  padding-left:0.4em;
  font-size: 1.3em;
}

#precio_variedad {
  color:red !important;
  font-size: 1.7em !important; 
  text-align: center !important;
}
@media only screen and (max-width: 450px) {
  #precio_variedad {
    font-size: 1.1em !important;
  }
  .text_descripcion {
    font-size: 1.1em !important;
  }
}


#titulo {
  color:black;
}

#descripcion-vino {
  /*background-image: url('../img/fondo-producto.jpg');*/
  background-color: white;
}

#img-descripcion {
  width:100%;
  height:20em;
}


#descripcion-texto p, #descripcion-texto h1 {
  font-family: quiche-sans, sans-serif;
  
}
@media only screen and (max-width: 767px) {
  #img-descripcion {
    width:100%;
    height:15em;
    border-radius: 5px;
  }
}


#contenedor-vino {
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  border-color: #958f8f;
  border-width: 1px;
  border-style: solid;
}
#contenedor-vino:hover {
  border-color: black;
}
#contenedor-vino p { 
  color:#000000;
  text-align:justify;
}
@media only screen and (max-width: 450px) {
  #contenedor-vino p { 
    color:#000000;
    text-align:justify;
    font-size: 0.8em;
  }
}


#variedad-img {
  width:60%;
  height:25em; 
  margin:auto;
}

@media only screen and (max-width: 450px) {
  #variedad-img {
    width:100%;
    height:20em; 
    margin:auto;

  }
}

/*   Efecto LightBox   */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 40%;
  height:38em; 
}

#mySlides_variedad {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 60%;
  height:100%; 
}

#mySlides_variedad img {
  width:100%;
  height:100%; 
  margin:auto;
}

@media only screen and (max-width: 450px) {
   #myModal {
     padding-top: 5.5em;
   }
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 70%;
    height:35em; 
  }

  #mySlides_variedad {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 100%;
    height:100%; 
  }

  #mySlides_variedad img {
    width:100%;
    height:100%; 
    margin:auto;
  }
}
/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

#mySlides_variedad {
  display: none;
}

.cursor {
  cursor: pointer;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}


.LeerMas {
  display: block;
} 

.text_incompleto {
  display: block;
}

.LeerMenos {
  display: none;
} 
.text_completo {
  display: none;
}
@media only screen and (max-height: 450px) {
  .col_mostrar_img_horizontal {
    width: 50%;
  }
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++ BLOG +++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#principal{
  width: 90%;
  height: auto;
  overflow: hidden;
  margin: auto;

}

#publicaciones{
  width: 70%;
  height: auto;
  overflow: hidden;
  margin: 10px auto;
  float: left;
}

@media only screen and (max-width: 480px) {
  #publicaciones{
    width: 100%;
  }
}

.post{
  width: 96%;
  height: auto;
  overflow: hidden;
  padding: 7px;
  background-color: #fdfdfd;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #6e0805;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #ccc; 
  margin-bottom: 25px;
}

.parrafo-post {
  padding-top:1em;
  padding-left:0.5em;
  padding-right:0.5em;
  font-family: quiche-sans, sans-serif;
  text-align: left;
}

.enlace-post{
  text-decoration: none;
}

#publicaciones a .titulo-post{
  color: #6e6e6e;
  font-size: 22px;
  font-family: quiche-sans, sans-serif;
  text-align: justify;
}

#publicaciones a .titulo-post:hover{
  text-decoration: underline;
}

#publicaciones .img-post{
  width: 100%;
  height: 10em;
  float: left;
  margin: 7px 7px 7px 0px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#publicaciones .datos-publicaciones{
  font-family: quiche-sans, sans-serif;
  color: #970601;
}

#publicaciones .leer-mas{
  background: #6e0805;
  color: #fff;
  padding: 5px;
  border: 0px;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 5px;
}

#publicaciones .leer-mas:hover {
  background: #980c07;
}

#sidebar{
  float: right;
  width: 28%;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px #ccc inset;
  padding: 10px 4px;
  height: auto;
  overflow: hidden;
  margin-top: 10px;
}

#buscar, #categorias, #ultimos-post{
  border-radius: 0.1em;
  width: 100%;
  overflow: hidden;
  height: auto;
}

form{
  margin-top: 10px;
}

#buscar input[type="text"]{
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px #ccc inset;
  padding: 10px 4px;
  width: 90%;
  margin-left: 4px;
  margin-bottom: 4px;
}

#buscar .boton{
  border: 0px;
  color: #fff;
  background: #970601;
  padding: 10px;
  border-radius: 10px;
}

#buscar .boton:hover {
  background:#790805;
}

.encabezado-sidebar{
  text-align: center;
  color: #fff;
  font-family: quiche-sans, sans-serif;
  border-radius: 0.2em;
  padding: 0.18em;
  margin: auto;
  margin-left: 0.1em;
  margin-right: 0.1em;
  background: rgb(86,10,10);
  background: linear-gradient(90deg, rgba(86,10,10,1) 0%, rgba(197,8,8,1) 43%, rgba(232,40,40,1) 56%, rgba(162,0,0,1) 99%);
}

.enlace-sidebar{
  width: 100% !important;
  display: inline-block !important;
  text-decoration: none !important;
  border-bottom: 1px solid #ccc !important;
  padding: 10px 5px !important;
  color: #848484 !important;
}

.enlace-sidebar:hover{
  background: #f2f2f2;
}

@media only screen and (max-device-width: 480px) {
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}

 @media only screen and (min-device-width: 481px) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}

@media only screen and (max-width:991px) {
  #publicaciones {
    width: 100%;
  }
  
  .post {
    width: 100%;
    padding: 1em;
  }
}
/* Blog en Home.php */
.img_blog_zoom {
  transition: transform .2s;
}

.img_blog_zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.col_blog_recientes {
   width: 80%;
   margin: auto;
}
#img_blog {
  width: 100%;
  height: 15em;
}
@media only screen and (max-width:991px) {
  #img_blog {
    width: 100%;
    height: 20em;
  }
}
@media only screen and (max-width:450px) {
  .col_blog_recientes {
   width: 100%;
  }
  #img_blog {
    width: 100%;
    height: 15em;
  }
}


#publicacion{
  width: 70%;
  height: auto;
  overflow: hidden;
  margin: 10px auto;
  float: left;
}

.titulo_post{
  width: 100%;
  height: 35px;
  background:#970601;
  text-align: center;
  color: #fff;
  font-family: 'calibri-light';
  border-radius: 10px;
}
#img_post {
  width: 100%;
  height: 20em;
}
@media only screen and (max-width:450px) {
  #img_post {
    height: 10em;
  }
}

#volver-a-blog {
   background-color: #970601;
   color: white;
}

#volver-a-blog:hover {
  background-color: #680704;
}

.panel-derecho-blog {
  width: 30% !important;
}

.buscar-movil {
  display: none;
}

.ultimos-articulos-movil {
  display: none;
}
#categorias a, #ultimos-post a {
  color: #e7e7fc !important;
}

#categorias a:hover, #categorias a:active, #ultimos-post a:hover, #ultimos-post a:active  {
  color: #383636 !important;
}
@media only screen and (max-width:990px) { 
  .img-post {
    height: 15em !important;
  }
}

@media only screen and (max-width:900px) { 
  .encabezado-sidebar{
    font-size: 1.8em;
  }
  #buscar .boton {
    font-size: 0.9em;
  }
  #ultimos-post .enlace-sidebar h2 {
    font-size: 1.8em;
  }
  #principal {
    width: 95%;
  }
}

@media only screen and (max-width:480px) {
  .panel-derecho-blog {
    display: none;
    width: 100% !important;
  }

  .encabezado-sidebar{
    font-size: 1.8em;
  }

  .ultimos-articulos-movil {
    display: block !important;
  }
  .buscar-movil {
    display: block;
  }
}

#fondo-post {
  background-image: url(../img/fondo-post.jpg);
   padding-bottom: 1em; 
   padding-top: 1em;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++FORMULARIO+++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#formulario{
  background: #ffffff ;
  padding: 80px 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
}

#productos{
  height: 15em;
  width: 37em;
}

@media only screen and (max-width:480px){
  #productos{
    height: 15em;
    width: 15em;
  }
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++ NOSOTROS +++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#nosotros {
  color: #403d3d;
  padding-bottom: 1em;
  padding-top:0.5em;
  padding-right:1.3em;
  padding-left:1.3em;
  border-radius:0.6em;
  margin-bottom:1.3em;
  margin-top:1.3em;
  margin-right: 1em;
  margin-left: 1em;

  position: relative;
  display: inline-block;
  text-align: center;
}

#nosotros h2, #nosotros p {
  font-family: quiche-sans, sans-serif;
  overflow: auto;
}

#nosotros h2 {
  font-size: 3em;
  color: white;
}

#nosotros p {
  font-size:1.3em;
  color: white;
}
.contenedor-nosotros {
  background-color: #0a0a0ab5;
}


#titulo-nosotros img {
  float: right;
  padding-left: 27%;
}

#texto-encima {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width:480px) {
  #titulo-nosotros img{ 
    padding-left: 0%;
    padding-top: 20%;
  }
  
  #nosotros p {
  font-size:1em;
  }
  #nosotros h2 {
  font-size: 2.5em;
  }
}

.parallax {
  /* The image used */
  background-image: url("../img/nosotros.png");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width:450px) {
  .parallax {
    background-attachment: scroll;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("../img/nosotros.png");
  }
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#encabezado {
  background-color:#ffffff;
}

#iconoe {
  color:#000000;
  margin: 5px;
  float: right;

}

#logo_barra{
  height: 5em;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

#correo {
  color:#310305;
  font-size: 20px;
}

@media only screen and (max-width: 450px) {
  #correo {
    font-size: 15px;
  }
  .fa-instagram, .fa-facebook-official, .fa-youtube-play, .fa-envelope-o {
    font-size: 1.5em;
  }
}

